@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #c1dcdc;
  --color-dark-1: #1e1e1e;
  --color-dark-2: #6d6d6d;
  ---font-primary: "Poppins", sans-serif;
  --font-logo: "Kanit", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: var(---font-primary);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}
.section {
  padding-top: 100px;
}

/* nav */
.nav {
  width: 100%;
  height: 100px;
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left {
  display: flex;
  align-items: center;
}
.nav_logo {
  font-size: 24px;
  font-family: var(--font-logo);
  color: var(--color-dark-1);
  font-weight: 700;
}
.nav_list {
  display: flex;
  margin-left: 30px;
}
.nav_items {
  margin: 0px 6px;
}
.nav_link {
  padding: 7px 10px;
  color: var(--color-dark-2);
  font-weight: 500;
}
.active {
  color: var(--color-dark-1);
}
.nav_icon {
  margin: 0px 0px 0px 25px;
}

/* header */
.header_container {
  width: 100%;
  height: 465px;
  background-image: url(../images/bg.png);
  background-size: cover;
}
.header_content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  padding: 0px 50px;
}
.headet_main_title {
  font-size: 52px;
  font-weight: 800;
  line-height: 60px;
}
.header_items {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
}
.header_item:not(:first-child) {
  margin-left: 30px;
}
.header_item_number {
  font-size: 30px;
}
.header_form {
  padding: 10px;
  background-color: #f3f3f3;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_form_input {
  padding: 7px 10px;
  width: 250px;
  outline: none;
  border: none;
  background-color: #f3f3f3;
}
.header_form_icon {
  padding: 7px;
  background-color: var(--color-primary);
  border-radius: 2px;
}

/* selling */
.selling_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
}
.selling_h2 {
  font-size: 32px;
}
.selling_p {
  margin-top: 15px;
  margin-bottom: 25px;
}
.selling_btn {
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: var(--color-dark-1);
}
.selling_item_img {
  width: 100%;
}
.selling_item_title {
  margin: 6px 0px;
  font-weight: 600;
}

/* section header */
.section_header {
  text-align: center;
  margin-bottom: 50px;
}
.section_h2 {
  font-size: 32px;
}

.about_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}
.about_item {
  text-align: center;
}
.about_img_box {
  width: 90px;
  height: 90px;
  background-color: var(--color-primary);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.about_item_img {
  width: 50px;
  height: 50px;
  color: var(--color-primary);
}
.about_item_title {
  margin: 20px 0px;
}

/* categories */
.categories {
  margin-top: 40px;
  width: 100%;
  background-color: var(--color-primary);
}
.cat_container {
  position: relative;
  top: -40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}
.category_center {
  margin-top: 60px;
}
.category {
  text-align: center;
}
.category_title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}
.categories_bottom {
  padding: 20px 0px;
  text-align: center;
}
.categories_p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.categories_btn {
  padding: 10px 20px;
  background-color: #f3f3f3;
  color: var(--color-dark-1);
  border-radius: 2px;
}

/* reviews */
.review {
  background-color: var(--color-primary);
  border-radius: 2px;
  padding: 60px 100px;
}
.review_text {
  margin-bottom: 30px;
}
.review_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review_rating {
  display: flex;
}
.review_rating > svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer {
  margin-top: 120px;
  background-color: var(--color-primary);
}
.footer_container {
  padding: 40px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 40px;
}
.footer_item_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer_copy {
  padding: 10px 0px;
}
